<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>URL Shortner App</title>
</head>

<body>
    <div class="container">
        <h1>Url Shortner App</h1>
        <form action="/shortUrlGenerator" method="POST" class="from-inline">
            <label for="fullUrl">Url</label>
            <input required type="url" name="fullUrl" id="fullUrl" />
            <button class="btn btn-success" type="submit">Shorten Url</button>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Full url Path</th>
                    <th>Short url Path</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach(url => { %>
                <tr>
                    <td>
                        <a href="<%= url.fullUrl %>"><%= url.fullUrl %></a>
                    </td>
                    <td>
                        <a href="<%= url.shortUrl %>"><%= url.shortUrl %></a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>